<!DOCTYPE html>
<html>

<head>
    <title>Page Tester</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body data-ng-app="TEST">
    <div data-directive-test data-ng-init="init()">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-header">
                        <h1>AK Angular Test <small>A quick demo app</small></h1>
                    </div>
                    <p>
                        When you click on the button below we want to increment the click count and add an image in the image grid
                    </p>
                    <div>
                        <span>Toggle Count - {{dtc.toggleCounter}}</span>
                    </div>
                    <input data-ng-model="dtc.toggleCounter" type="text" />                    
                    <p>
                        <a data-ng-click="toggleImage()" class="btn btn-primary">Click Me To Toggle Images</a>
                        <a data-ng-click="addImage()" class="btn btn-primary">Click Me To Add Images</a>
                        <a data-ng-click="deleteImage()" class="btn btn-primary">Click Me To Delete Images</a>                                                
                    </p>

                    <ul class="list-inline">
                        <li data-ng-repeat="image in dtc.imageList">
                            <img ng-src="{{image.src}}" />
                            <span class="display-block">{{image.caption}}</span>
                        </li>
                    </ul>

                    <div class="image-grid">
                        <img src="https://unsplash.it/g/350/350" 
                        data-ng-show="dtc.showImage" />
                    </div>

                    <div class="red-block" data-ng-class="{'red': dtc.toggle}"></div>
                    <div class="blue-block" data-ng-class="dtc.state"></div>                    
                </div>
            </div>
        </div>
    </div>

    <style type="text/css">
        .display-block {
            display: block;
            text-align: center;
        }

        .blue-block {
            height: 200px;
            width: 400px;
            background: lightblue;            
        }

        .red-block {
            height: 200px;
            width: 400px;
            background: red;            
        }        
    </style>

    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script>
    var app = angular.module('TEST', []);
    app.directive('directiveTest', dt);
    dt.$inject = ['$window', '$timeout', '$filter', '$http'];

    function dt($window, $timeout, $filter, $http) {
        function link(scope, element, attrs, controller, transcludeFn) {};

        var directive = {
            scope: true,
            restrict: 'AE',
            replace: 'true',
            controller: testController,
            controllerAs: 'dtc',
            link: link,
            bindToController: true
        };
        return directive;

        function link(scope, element, attrs) {


            element.on('click', function() {
                console.log('click the directive div');
            });
        }

    }

    testController.$inject = ['$scope', '$http', '$filter', '$timeout', '$window', '$interval'];

    function testController($scope, $http, $filter, $timeout, $window, $interval) {

        var dtc = this;

        $scope.init = function() {
            console.log('hello init');
            dtc.showImage = false;
            dtc.toggleCounter = 0;    

            dtc.state = 'is-hidden';

            //dtc.state2 = 'is-closed';   
            dtc.toggle = false;     
        }

        // $timeout(function(){
        //     init();
        // },0);

        // function init() {
        //     console.log('hello init');
        //     dtc.showImage = false;
        //     dtc.clickCounter = 0;            
        // }        

        $scope.toggleImage = function() {
            dtc.showImage = !dtc.showImage; // toggling
            dtc.toggleCounter++; // increment counter
            dtc.state = 'is-visible';

            toggle = !toggle;
        }

        // setup list of images as an array
        dtc.imageList = [
            {src: 'https://unsplash.it/g/150/150', caption: 'initial caption'},
            {src: 'https://unsplash.it/g/150/150', caption: 'initial caption'},
            {src: 'https://unsplash.it/g/150/150', caption: 'initial caption'}
        ];        

        $scope.addImage = function() {
            // dtc.showImage = true; // show the image first
            console.log('add');
            dtc.imageList.push({
                src: 'https://unsplash.it/g/150/150',
                caption: 'added caption'
            });  
        }

        $scope.deleteImage = function() {
            // dtc.showImage = true; // show the image first            
            console.log('delete');
            dtc.imageList.pop();            
        }

    }
    </script>
</body>

</html>
